label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.searchbar {
  max-width: 200px;
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  background: #ffffff;
  border-radius: 20px;
}

.fadeInWidth {
  animation: 0.2s linear fadeInWidth;
}

.fadeOutWidth {
  animation: 0.2s linear fadeOutWidth;
}

.fadeIn {
  animation: 0.8s linear fadeIn;
}
.fadeOut {
  animation: 1s linear fadeOut;
}

.search-input {
  color: black;
  border: 0;
  outline: 0;
  background: white;
  padding: 0px 15px;
  transition: width 0.4s linear;
  caret-color: rgb(0, 255, 234);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.search-icon {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff1a1a;
  font-size: small;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.icon-bg:hover {
  opacity: 0.8;
  cursor: pointer;
}

@keyframes fadeInWidth {
  0% {
    width: 30px;
  }
  100% {
    width: 200px;
  }
}
@keyframes fadeOutWidth {
  0% {
    width: 200px;
  }
  100% {
    width: 30px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.navbar-dark .navbar-nav .nav-link
{
    color:#fff;
}

.header-navbar{
  list-style: none;
  list-style-type: none;
  margin: 0;
}

.header-navbar li {
  display: inline;

  text-decoration: none;

}